<% if (theme.changyan.show_count.detail){ %>
<span title="评论数">
    <a href="#SOHUCS">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <span id = "changyan_count_unit">0</span>
        <script id="cy_cmt_num" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>
    </a>
</span>
<% } %>