<% if (theme.changyan.show_count.archive){ %>
<span title="评论数">
    <a href="<%- url_for(article.path) %>#SOHUCS" target="_blank">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <span id = "sourceId::<%- article.path %>" class = "cy_cmt_count">0</span>
    </a>
</span>
<% } %>