<% if (theme.changyan.show_reward){ %>
<div id="cyReward" role="cylabs" class="text-center" data-use="reward" sid="<%- sid %>" cid="<%- cid %>"></div>
<script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=<%= theme.changyan.appid %>"></script>
<% } %>